.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    .copyright {
        color: white;
        margin-bottom: 0;
    }
}

.social-icon {
    width: 30px;
    height: auto;
    margin-left: 25px;
}