header {
    background-color: #0d1152;

nav {
    display: flex;
    
    
    .logo {
        width: 100px;
        height: auto;
        margin-left: 30px;

    }

    .navbar-color {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    
    }


}
}

$primary:#0d1152; 



 

