#contenedorTablas {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    align-items: left;
    color: white;
    justify-content: space-around;

  }
  