
.container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  align-items: center;
}

#team-list {
  margin-top: 10px 0;
  color: white ;
  align-items: center;
}

#add-team{
  border-color: black;
  border-width: 2px;
}



