@import "header";
@import "footer";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "login";
@import "sorteos";
@import "eliminatoria";

body {
    margin: 0;
    padding: 0;
    background-image: url('../../public/assets/images/background.jpeg'); /* Especifica la ruta a tu imagen */
    background-size: cover; /* Escalar la imagen para que cubra toda la pantalla */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    object-fit: cover;
    background-color: #0D1152;
}