/* Body pagina 1 */

body {
    margin: 0;
    padding: 0;
    background-image: url('public/assets/images/background.jpeg'); /* Especifica la ruta a tu imagen */
    background-size: cover; /* Escalar la imagen para que cubra toda la pantalla */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    object-fit: cover;
}


/* Estilos para el footer */
.footer {
    margin-top: 2500px;
    background-color: #0D1152;
    color: white;
    display: flex;
    font: Arial;
    height: 600px; /* Ajustar en funcion del tamaño del body */
}

.footer-left {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 40px; /* Ajustar en funcion del tamaño del body */
    justify-content: center;
    
}

.footer-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.social-icon {
    width: 200px;  /* Ajustar en funcion del tamaño del body */
    height: 200px;  /* Ajustar en funcion del tamaño del body */
    margin-left: 25px;

}
